.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  width: 90vw;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  border: 1px solid white;
  cursor: pointer;
}

.idle {
  background-color: blueviolet;
}

.active {
  background-color: yellow;
}

.player {
  background-color: green;
}

.computer {
  background-color: red;
}
