.controls-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
}

.score {
  display: flex;
  gap: 24px;
  font-weight: bold;
  justify-content: center;
}
